/* reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{ margin: 0; }   
h2,h3,h4,h5,b,strong,span{ font-weight: normal; }
ol,ul{ margin: 0; padding: 0;list-style: none; }
body{ font: 12px/20px 'microsoft yahei'; }
i,em{ font-style: normal; }
a,a:active{ text-decoration: none; color: #000; }
img{ border: none; vertical-align:top; }
/* global */
.centerWrap{
	text-align:center;
	vertical-align:middle;
}
.centerWrap:after{
	display:inline-block;
	content:'centerWrap';
	width:0;
	height:100%;
	vertical-align:middle;
	overflow:hidden;
}
.banScroll{
	overflow-y:hidden;overflow-x:hidden;
}
/* html */
html{
    font-size: 62.5%;
    font-family: "Microsoft YaHei";
}
body{
	height: 200rem;
    font-size: 1.4rem;
    background: #efefef;
    padding-bottom:5rem;
}
.calcTotal{ 
	position:absolute;
	/* position:fixed; */
	/* bottom:0; */
	width:100%;
	height:5rem;
	color:#fff;
	background:#000;
}