/* reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{ margin: 0; }   
h2,h3,h4,h5,b,strong,span{ font-weight: normal; }
ol,ul{ margin: 0; padding: 0;list-style: none; }
body{ font: 12px/20px 'microsoft yahei'; }
i,em{ font-style: normal; }
a,a:active{ text-decoration: none; color: #000; }
img{ border: none; vertical-align:top; }
/* global */
.centerWrap{
	text-align:center;
	vertical-align:middle;
}
.centerWrap:after{
	display:inline-block;
	content:'centerWrap';
	width:0;
	height:100%;
	vertical-align:middle;
	overflow:hidden;
}
.banScroll{
	overflow-y:hidden;overflow-x:hidden;
}
.act-active{
	background:#fff;
	transition:.4s;
	box-shadow:0 0 10px #000 inset;
}
/* html */
html{
    font-family: "Microsoft YaHei";
}
body{	
    background: #efefef;
    padding-bottom:2rem;
    height:200rem;
    text-align:center;
    -webkit-overflow-scrolling: touch;
}
.calcTotal{ 
	position:absolute;
	bottom:-10rem;
	/* position:fixed; */
	/* bottom:0; */
	width:100%;
	height:2rem;
	font:1.4rem/2rem 'Microsoft YaHei';
	color:#fff;
	background:#000;
}
/* keyboard */
.y-keyboard{
	position:absolute;
	width:100%;
	overflow:hidden;
	z-index:10;
	display:none;
}
.y-keyboard h2{
	display:block;
	text-align:right;
}
.y-keyboard-completed{
	display:inline-block;
	margin:.1rem;
	width:2rem;
	font:.5rem/1rem 'Microsoft YaHei';
	color:#fff;
	background:#43B9FB;
	text-align:center;
	border-radius:4px;
}
.y-keyboard-completed:active{
	background:#fff;
	color:#000;
	transition:.4s;
}
.y-keyboard-item{
	display:block;
	float:left;
	width:33.3333%;
	height:1.2rem;
	font:.5rem/1.2rem 'Microsoft YaHei';
	background:#fff;
	border-top:1px solid #CECDCE;
}
.y-keyboard-item:active{
	background:#D3D9E0;
}
.borderR{
	width:calc( 33.3333% - 1px );
	border-right:1px solid #CECDCE;
}
.y-keyboard .bg-silver{
	background:#D3D9E0;
}
