/* reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{ margin: 0; }   
h2,h3,h4,h5,b,strong,span{ font-weight: normal; }
ol,ul{ margin: 0; padding: 0;list-style: none; }
body{ font: 12px/20px 'microsoft yahei'; }
i,em{ font-style: normal; }
a,a:active{ text-decoration: none; color: #000; -webkit-tap-highlight-color:rgba(255,0,0,0);}
img{ border: none; vertical-align:top; }
/* reset-mobile-input */
input{-webkit-appearance:none;border:none;outline:none;border-radius:0;}
/* global */
.centerWrap{
	text-align:center;
	vertical-align:middle;
}
.centerWrap>img{
	vertical-align:middle;
	display:inline-block;
	max-height:100%;
	max-width:100%;
}
.centerWrap:after{
	display:inline-block;
	content:'centerWrap';
	width:0;
	height:100%;
	vertical-align:middle;
	overflow:hidden;
}
.shrink-open:after,.shrink-close:after{
	display:block;
	content:'︿';
	font-size:.5rem;
	font-weight:800;
	position:absolute;
	left:-.1rem;top:-.1rem;
}
.shrink-close:after{
	content:'﹀';
	top:.1rem;
}
.order-wrap{
	background:#fff;
	margin-bottom:.4rem;
	position: relative;
}
/* html */
html,body{	
    background: #EFEFEF;
    overflow-x: hidden;
}
.wrap{ width: 100%; max-width: 640px; margin:0 auto;}
/* 隐藏滚动条 */
html::-webkit-scrollbar,
body::-webkit-scrollbar{
	width:0;
	height:0;
}
/* 弹窗 */
.myAlert{
	position:absolute;
	z-index:9999999;
	margin:auto;
	left:50%;
	left:-webkit-calc(50% - 1.8rem);
	width:4.2rem;
	height:1.6rem;
	font:.5rem/1.6rem 'microsoft yahei';
	color:#fff;
	text-align:center;
	background:#000;
	border-radius:8px;
	display:none;
}
/* 主体内容 */
header{
	padding-top:.4rem;
	margin-bottom:.5rem !important;
}
.order-details{
	padding:0 .4rem;
	margin-bottom:.2rem;
}
.order-details dt,.order-details dd{
	display:inline;
	font:.4rem/.6rem 'microsoft yahei';
}
.order-details dt:first-child~dt:before{
	content:'\A';
	white-space:pre;
}
.address-details{
	position:relative;
	border-top:1px solid #F6F6F6;
	overflow:hidden;
}
.address-details-list{
	border-top:1px solid #eee;
	padding:.2rem .4rem 0.4rem 2rem;
}
.address-logo{
	display:block;
	position:absolute;
	top:.7rem;
	left:.6rem;
	width:1rem;
	height:1rem;
}
.address-details dt{
	float:left;
}
.user-info{
	font-size:.4rem;
	line-height:.7rem;
	color:#333;
}
.address-info{
	font-size:.4rem;
	line-height:.5rem;
	color:#666;
}
.address-details .user-phone{
	padding-left:3rem;
}
.order-details dt:first-child{
	position:relative;
}
.orderStatus-wait{
	position:relative;
}
.orderStatus-wait:after{
	position:absolute;
	right:-4.24rem;
	top:-.05rem;
	display:block;
	width:2rem;
	content:'等待收货';
	font:.4rem/.6rem 'microsoft yahei';
	color:#ff3434;
}

.goodsList ul{
	overflow:hidden;
}
.goodsList .title{
	position:relative;
	padding:.4rem;
}
.goodsList .title h2{
	font-size:.4rem;
}
.shrink-open,.shrink-close{
	position:absolute;
	right:-.1rem;
	height:.8rem;
	width:.8rem;
}
.goodsPic-wrap{
	display:block;
	width:1.8rem;
	height:1.8rem;
	border:1px solid #DEDEDE;
	border-radius:4px;
}
.goodsItem-order{
	position:relative;
	margin-bottom:.4rem;
	padding:.3rem 0 .2rem .4rem;
	border:1px solid #eee;
	border-left:none;border-right:none;
	background:#F8F8F8;
}
.goodsItem-order:last-child{
	margin-bottom:0;
	border-bottom:none;
}
.goodsItem-details,.goodsCountAction{
	position:absolute;
	top:.4rem;
	width:calc(100% - 3.2rem);
	padding-left:2.3rem;
}
.goodsCountAction{
	top:.3rem;
}
.goodsCountAction{
	display:none;
}
.goodsItem-details dt,.goodsItem-details dd{
	display:inline;
	font-size:.36rem;
	line-height:.56rem;
	color:#aaa;
}
.goodsItem-details dt:nth-of-type(1),.goodsItem-details dd:nth-of-type(1){
	color:#000;
}
.goodsItem-details dd:nth-of-type(1){
	font-size:.44rem;
}
.goodsItem-details dt:last-child{
	position:relative;
	top:-.1rem;
}
.goodsItem-details dd.free-goods{
	font-size:.4rem;
	color:#f00;
}
.goodsItem-details dd{
	position:absolute;
	right:0;
}
.goodsItem-details dt:first-child~dt:before{
	content:'\A';
	white-space:pre;
}
.rushRed-btnWrap{
	text-align:right;
	padding:.4rem .44rem 0 0;
}
.rushRed-btnWrap span{
	display:inline-block;
	padding:.1rem 0;
	text-align:center;
	width:2.2rem;
	font-size:.4rem;
	line-height:.6rem;
	border:1px solid #ccc;
	border-radius:2px;
}
.rushRed-reason-list{
	padding:.4rem;
	font-size:.4rem;
	line-height:.4rem;
	color:#A7A7A7;
	border-top:1px solid #eee;
}
.rushRed-reason-list dt{
	float:left;
}
.rushRed-reason-list dd{
	overflow:hidden;
}

.orderItemTotal{
	text-align:right;
	font-size:.4rem;
	padding:.3rem .5rem;
	border-top:1px solid #eee;
}
.orderItemTotal strong{
	color:#f00;
}
.goodsCountAction{ font:0/0 ''; }
.countMinus,.countPlus,.countGoods{ 
	display:inline-block;		
	height:.8rem;
	font:.4rem/.4rem 'microsoft yahei';
	text-align:center;
	vertical-align:middle;
	background:#efefef; 
}
.countMinus,.countPlus{ 
	height:1.8rem;	
	width:1.8rem;
	line-height:1.8rem;
	font-size:1rem;
}
.countMinus{
	float:left;
}
.countPlus{
	float:right;
}
.countGoods{ 
	display:inline-block;
	padding:0 .2rem;
	width:2.6rem;height:1.8rem;
	font-size:.5rem;
	overflow:hidden;
	text-overflow:ellipsis; 
}
.input-active{
	font-size:.6rem;
	background:#fff;
	box-shadow:0 0 1px #000 inset;
}
.calculate-totle{
    font-size: .4rem;
    line-height: .6rem;
    font-weight:600;
    color: #323232;          
}
.calculate-totle ul{
	padding: .4rem .5rem .5rem .5rem;
}
.calculate-totle li:last-child span{
	font-size:.5rem;
}
.calculate-totle span{
    display: inline-block;
    float: right;
}
.calculate-totle span.result{
	font-size:.6rem;
}
.order-times{
	font-size:.4rem;
	line-height:.6rem;
	color:#9A9A9A;
	margin-bottom:.2rem;
}
.order-times dl{
	padding:.4rem .4rem .5rem .4rem;
}
.order-times dt,.order-times dd{
	display:inline;
}
.order-times dt:first-child~dt:before{
	content:'\A';
	white-space:pre;
}
