<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>layer</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script type="text/javascript" src="../../jquery-1.11.3.js"></script>
<script type="text/javascript" src="../layer.js"></script>
</head>
<body>

    <script type="text/javascript">
    	// layer.alert(
    	// 		'SUCCESS', //默认的title
    	// 		{
    	// 			icon: 1,
    	// 			title: 'www.ypzdw.com'
    	// 		},
    	// 		function(i)
    	// 		{
    	// 			layer.close(i);
    	// 			console.log('I am a tangerine!')
    	// 		}
    	// 	)

    	// layer.confirm(
    	// 		'Are U Sure?',  //默认的content
    	// 		{
    	// 			icon: 3,
    	// 			title: 'www.ypzdw.com',
    	// 			content: 'are you a tangerine?'
    	// 		}
    	// 	)

    	// var layerId = layer.load(0, { shade: .2 });
    	// setTimeout(function(){
    	// 	layer.close(layerId);
    	// }, 2333)
    </script>
</body>
</html>