body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:60px;
  width:750px;
  height:890px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:437px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:180px;
  width:650px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u3 {
  position:absolute;
  left:100px;
  top:153px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:100px;
  top:247px;
  width:650px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u6 {
  position:absolute;
  left:100px;
  top:220px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:317px;
  width:650px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u9 {
  position:absolute;
  left:100px;
  top:290px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:100px;
  top:390px;
  width:650px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u12 {
  position:absolute;
  left:100px;
  top:363px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:609px;
  top:363px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:100px;
  top:460px;
  width:650px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u17 {
  position:absolute;
  left:100px;
  top:433px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:100px;
  top:533px;
  width:650px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u20 {
  position:absolute;
  left:100px;
  top:506px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:100px;
  top:620px;
  width:650px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u23 {
  position:absolute;
  left:100px;
  top:593px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:677px;
  top:593px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:695px;
  top:363px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:100px;
  top:670px;
  width:650px;
  height:160px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:160px;
}
#u30 {
  position:absolute;
  left:2px;
  top:72px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:120px;
  top:698px;
  width:490px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:539px;
  top:698px;
  width:197px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:120px;
  top:739px;
  width:370px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:539px;
  top:739px;
  width:197px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:100px;
  top:810px;
  width:650px;
  height:80px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u40 {
  position:absolute;
  left:2px;
  top:32px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:120px;
  top:825px;
  width:616px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:612px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:518px;
  top:433px;
  width:232px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:709px;
  top:506px;
  width:41px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:628px;
  top:290px;
  width:122px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:695px;
  top:220px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:641px;
  top:153px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
