<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../css/perfect-scrollbar.min.css" rel="stylesheet">
<script src="../../jquery-1.11.3.js"></script>
<!-- <script src="../js/perfect-scrollbar.min.js"></script> -->
<script src="../js/perfect-scrollbar.jquery.min.js"></script>
<style>
	.wrap{ position: relative;width: 400px;height: 400px;box-shadow: 0 0 2px #ccc; }
	.inner{ height: 1000px; }
</style>
</head>
<body>

<div class="wrap">

	<div class="inner"></div>
</div>

<script>
	$('.wrap').perfectScrollbar();
</script>
</body>
</html>